/* HELPER CLASSES*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block,
.w-wrapper,
header figure img,
.adm-red p,
.count-list .cob-icon {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.cS-hidden {
  height: 1px;
  opacity: 0;
  overflow: hidden;
}
/* LAYOUT */
.container {
  width: 1130px !important;
  max-width: 1130px !important;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.w-wrapper {
  width: 100%;
}
.w-wrapper:after {
  clear: both;
}
.col-2 {
  width: 48% !important;
  float: left;
}
.col-3 {
  width: 31% !important;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}
.col-4 {
  width: 46% !important;
  float: left;
}
.col-four {
  width: 22% !important;
  float: left;
}
[class*="col-"],
figure [class*="col-"],
[class*="col-"] figure {
  margin: 0 1%;
  padding: 0;
}
[class="col-*"]:after {
  clear: both;
}
figure {
  margin: 0;
  padding: 0;
}
figure img {
  width: 100%;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2em;
}
nav {
  margin: 0 !important;
}
nav ul {
  padding: 0;
  margin: 0;
  margin-top: 12px;
}
nav ul li {
  display: inline-block;
  padding: 0 15px;
  margin: 0;
}
nav ul li a {
  font-size: 1em;
  display: block;
}
nav ul li a.active {
  color: #fff;
}
.container {
  -webkit-box-shadow: 0 0 6px 2px #a8a8a8;
  box-shadow: 0 0 6px 2px #a8a8a8;
}
.btn {
  padding: 5px 25px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  margin: 5px;
  text-align: center;
  position: relative;
  z-index: 9999;
  border-radius: 8px;
  width: 150px;
}
.btn-white {
  border-color: #fff;
  color: #fff;
}
.btn-white:hover {
  border-color: #98b0df;
  background: #98b0df;
}
.btn-round {
  border-radius: 41px;
  border: 1px solid #1d70b7;
  width: 46px;
  text-align: center;
  padding: 14px 10px 12px 10px;
  font-size: 30px;
  font-weight: 100;
  color: #1d70b7;
}
/* Index styles =======================================
======================================================= */
body {
  color: #b5b5b4;
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
}
header {
  background: #4c4c4b;
  padding-bottom: 25px;
}
header aside {
  border-bottom: 1px solid #b5b5b4;
  padding-top: 15px;
  margin-bottom: 25px;
}
header aside h6:last-child {
  text-align: right;
}
header a,
footer a {
  text-transform: none;
  color: #b5b5b4;
}
header a:hover,
footer a:hover {
  color: #fff;
}
header nav ul {
  margin: 1em 0;
  padding: 0 1em;
}
header figure img,
footer figure img {
  width: 280px;
}
.feat {
  margin: 0;
  padding: 0 !important;
  line-height: normal;
}
.feat ul {
  margin: 0;
}
.feat figure {
  margin: 0;
  padding: 0;
}
.plat-sl {
  background: #4c4c4b;
  -webkit-box-shadow: inset 0 12px 29px -10px #1c1c1c;
  box-shadow: inset 0 12px 29px -10px #1c1c1c;
  padding: 25px 0;
}
.plat-sl h1,
.plat-sl h2 {
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #fff;
}
.plat-sl h1 {
  text-align: center;
}
.plat-sl h2 {
  text-align: center;
  font-weight: 300;
  margin-top: -20px;
}
.brakets {
  color: #98b0df;
  font-size: 3em;
  vertical-align: middle;
}
.plat-cont,
.tns-cont,
.cn-cont {
  overflow: hidden;
  max-height: 400px;
}
.plat-cont .col-2,
.tns-cont .col-2,
.cn-cont .col-2 {
  width: 49% !important;
  margin-top: -1px;
}
.plat-cont section,
.tns-cont section,
.cn-cont section {
  background: #de3130;
  -webkit-box-shadow: inset 0 13px 61px -14px #1c1c1c;
  box-shadow: inset 0 13px 61px -14px #1c1c1c;
  margin: 0;
  padding: 0;
  height: 401px;
  margin-left: -25px;
}
.plat-cont section h2,
.tns-cont section h2,
.cn-cont section h2,
.plat-cont section p,
.tns-cont section p,
.cn-cont section p {
  text-align: right;
  color: #fff;
  margin: 0;
  padding: 0;
}
.plat-cont figure,
.tns-cont figure,
.cn-cont figure {
  margin: 0;
  padding: 0;
}
.plat-cont figure img,
.tns-cont figure img,
.cn-cont figure img {
  width: 110%;
}
.plat-cont .btn,
.tns-cont .btn,
.cn-cont .btn {
  margin-top: 25px;
  margin-right: 30px;
}
.blue-border {
  border-right: #98b0df 6px solid;
  width: 55%;
  float: right;
  margin-top: 70px;
  padding-right: 20px;
  margin-right: 25px;
}
.main-serv {
  padding-top: 55px;
  -webkit-box-shadow: inset 0px 18px 36px -19px #1c1c1c;
  box-shadow: inset 0px 18px 36px -19px #1c1c1c;
  padding-bottom: 55px;
}
.main-serv h2,
.main-serv p {
  color: #575756;
  font-weight: bold;
  text-align: center;
  margin: 15px 0;
}
footer {
  background: #4c4c4b;
  padding: 45px 0;
  -webkit-box-shadow: inset 0px 18px 36px -19px #1c1c1c;
  box-shadow: inset 0px 18px 36px -19px #1c1c1c;
  font-size: 12px;
}
footer .col-2 {
  width: 45% !important;
}
footer section:first-child {
  border-right: 6px solid #de3130;
  padding-right: 18px;
}
footer section:first-child p {
  font-size: 1.5em;
  text-align: right;
  clear: both;
  padding-top: 10px;
  font-weight: 200;
}
footer section:last-child {
  padding-left: 0;
  font-size: 1.2em;
}
footer section:last-child ul {
  margin: 0;
  padding: 0;
}
footer section:last-child ul li {
  display: inline-block;
  padding: 0 8px;
}
footer section:last-child ul li:first-child {
  border-right: 1px solid #b5b5b4;
  padding-left: 0;
}
footer nav {
  margin-bottom: 25px !important;
}
footer nav ul li {
  padding: 0 !important;
  padding-right: 6px !important;
  border-right: none !important;
}
footer nav ul li a {
  font-size: 1.1em;
}
footer figure {
  float: right;
}
/* Paginas Internas
================================== */
.val-ag {
  background: #de3130;
}
.tns-dat {
  background: #1e2957;
  border-bottom: #de3130 6px solid;
}
.tns-dat img {
  border-right: none !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
  border-left: #fff solid 6px;
  margin-left: 25px;
  padding-left: 25px;
}
.cn-gl {
  background: #1d70b7;
}
.big-box-txt {
  padding: 10px 0;
  -webkit-box-shadow: inset 0px 18px 36px -19px #1c1c1c;
  box-shadow: inset 0px 18px 36px -19px #1c1c1c;
}
.big-box-txt h2 {
  color: #fff;
  text-align: center;
  font-weight: 200;
  font-size: 2.6em;
}
.big-box-txt h2 img {
  border-right: 6px solid #fff;
  padding-right: 15px;
  margin-right: 15px;
}
.serv-blocks {
  background: #fff;
}
.b-box {
  background: #1d70b7;
  padding: 20px;
  height: 225px;
  margin-bottom: 45px;
  margin-top: -25px;
  position: relative;
  z-index: 9999;
  -webkit-box-shadow: 8px 8px 12px 1px #878787;
  box-shadow: 8px 8px 12px 1px #878787;
  color: #fff;
  font-weight: 200;
  font-size: 1.3em;
  width: 90%;
}
.b-box h2 {
  margin: 0;
}
.b-box:last-child {
  height: 275px;
}
.b-box #block-1 {
  width: 20%;
  border-right: #de3130 6px solid;
  padding-right: 10px;
  margin-right: 20px;
}
.b-box #block-2 {
  width: 76%;
}
.tns-cont .col-2 {
  background: #4c4c4b;
  margin-top: 0;
  margin-left: 0;
  width: 50% !important;
}
.tns-cont figure {
  margin-left: -3%;
}
.tns-cont figure img {
  width: 100%;
}
.tns-cont .blue-border {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
  float: left;
  border-left: #98b0df 6px solid;
  margin-left: 25px;
  padding-left: 20px;
  margin-top: 100px;
}
.tns-cont .blue-border p {
  text-align: left;
  font-size: 1.3em;
  font-weight: 200;
}
.cn-cont section {
  background: #4c4c4b;
}
.cn-cont .col-2 {
  margin-top: 0;
}
.cn-cont img {
  margin-top: -115px;
}
.adm-red p {
  font-size: 1.8em;
  color: #575756;
  font-weight: 200;
  text-align: center;
  width: 75%;
}
#lightSlider {
  background: #fff;
  margin: 0;
  padding: 0;
}
.img-cont {
  padding: 0;
  -webkit-box-shadow: inset 0px 18px 36px -19px #1c1c1c;
  box-shadow: inset 0px 18px 36px -19px #1c1c1c;
}
.count-list {
  -webkit-box-shadow: inset 0px 18px 36px -19px #1c1c1c;
  box-shadow: inset 0px 18px 36px -19px #1c1c1c;
  background: #1d70b7;
  width: 100%;
  min-width: 100%;
  padding-bottom: 131px;
}
.count-list .cob-icon {
  width: 40%;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.count-list .cob-icon img {
  float: left;
}
.count-list #cont-slider {
  margin: 0;
  padding: 10px;
}
.count-list #cont-slider ul {
  text-align: center;
  margin: 0;
  padding: 0 12px;
}
.count-list #cont-slider ul li {
  color: #fff;
  font-weight: 200;
  font-size: 1.3em;
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: -12px;
}
.count-list #cont-slider ul li:after {
  content: " •";
  vertical-align: sub;
  font-size: 1.8em;
}
.nosotros p {
  font-weight: 200;
}
.about {
  background: #f5f5f5;
  padding: 15px;
}
.about h1 {
  text-align: center;
  color: #4c4c4b;
  margin: 0;
}
.about p {
  font-size: 1.8em;
  text-align: center;
  color: #4c4c4b;
}
.dest-text {
  background: #de3130;
}
.dest-text h2 {
  font-weight: 200;
  color: #fff;
}
.mision,
.vision {
  -webkit-box-shadow: inset 0px 18px 36px -19px #1c1c1c;
  box-shadow: inset 0px 18px 36px -19px #1c1c1c;
}
.mision p,
.vision p {
  font-size: 1.3em;
}
.vision {
  background: #575756;
  padding-bottom: 55px;
  padding-top: 55px;
}
.vision article {
  text-align: right;
}
.vision .blue-border {
  margin-top: 0;
  padding-right: 35px;
  width: auto;
  margin-right: 0;
  padding-left: 15px;
  color: #fff;
}
.vision span img {
  margin-top: 45px;
}
.mision {
  padding-top: 55px;
}
.mision span img {
  margin-top: 50px;
}
.mision span.col-2 {
  width: 43% !important;
}
.mision p {
  color: #4c4c4b;
}
.blue-border-left {
  border-left: #98b0df 6px solid;
  margin-left: 30px;
  padding-left: 55px;
  float: left;
  width: auto;
  margin-bottom: 30px;
}
.valores h2 {
  font-weight: 300;
  text-transform: uppercase;
}
.valores img {
  border: none !important;
  width: 125px;
}
.val-img {
  -webkit-box-shadow: inset 0px 18px 36px -19px #1c1c1c;
  box-shadow: inset 0px 18px 36px -19px #1c1c1c;
  background: url("../img/valores_2.jpg") no-repeat scroll top center transparent;
  background-size: cover;
  margin-top: 0;
  padding-top: 55px;
  padding-bottom: 55px;
}
.val-img h2,
.val-img p {
  margin: 0;
  font-weight: 500;
}
.val-img article {
  background: rgba(255,255,255,0.7);
  margin-bottom: 15px;
  margin-top: 20px;
  color: #333;
  height: 150px;
  padding: 15px;
  width: 45% !important;
}
.val-img article p {
  font-size: 1.3em;
}
.val-img article img {
  float: left;
  padding-right: 15px;
}
.soporte .sop-text p {
  font-size: 1.3em;
  font-weight: 300;
  color: #575756;
  text-align: center;
  padding: 0 2em;
}
.dest-img img {
  width: 100%;
}
.cont-form {
  padding-bottom: 55px;
}
.cont-form form {
  width: 40%;
}
.cont-form form [class*="pull-"] {
  width: 41% !important;
}
.cont-form form input[type="text"],
.cont-form form input[type="email"],
.cont-form form input[type="tel"],
.cont-form form textarea {
  width: 93%;
  border-width: 0 0 2px 0;
  border-color: #4c4c4b;
  color: #575756;
  background: transparent;
  display: block;
  padding: 15px;
  text-align: left;
}
.cont-form form textarea {
  border-width: 2px;
}
.cont-form form ::-webkit-input-placeholder {
  color: #4c4c4b;
  font-weight: 300;
}
.cont-form form :-moz-placeholder {
  color: #4c4c4b;
  opacity: 1;
  font-weight: 300;
}
.cont-form form ::-moz-placeholder {
  color: #4c4c4b;
  opacity: 1;
  font-weight: 300;
}
.cont-form form :-ms-input-placeholder {
  color: #4c4c4b;
  font-weight: 300;
}
.btn-cont {
  color: #4c4c4b;
  width: 100px;
  padding: 6px 55px;
}
.btn-cont:hover {
  color: #de3130;
}
.btn-form {
  color: #4c4c4b;
  text-align: center;
  width: 115px;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #4c4c4b;
  outline: 0;
  transition: all 0.2s ease-in;
}
.btn-form:hover {
  border-color: #de3130;
  color: #de3130;
}
#form-status {
  text-align: center;
}
