// Variables
light-gray = #B5B5B4
gray = #4C4C4B
light-blue = #98B0DF
s-gray = #1C1C1C
red = #DE3130
silver = #575756
blue = #1D70B7
dark-blue = #1E2957
/* HELPER CLASSES*/
.clearfix:before, .clearfix:after
    content ""
    display table

.clearfix:after
    clear both

.center-block
    display block !important
    margin-left auto !important
    margin-right auto !important
    width auto

.pull-right
    float right !important

.pull-left
    float left !important

li
    list-style none

a
    text-decoration none

.cS-hidden
    height 1px
    opacity 0
    overflow hidden

/* LAYOUT */
.container
    width 1130px !important
    max-width 1130px !important
    position relative
    margin-left auto
    margin-right auto

.w-wrapper
    width 100%
    @extend .center-block
    &:after
        clear both

.col-2
    width 48% !important
    float left

.col-3
    width 31% !important
    float left
    margin-left 1%
    margin-right 1%

.col-4
    width 46% !important
    float left

.col-four
    width 22% !important
    float left

[class*="col-"], figure [class*="col-"], [class*="col-"] figure
    margin 0 1%
    padding 0

[class="col-*"]:after
    clear both

// Main styles
figure
    margin 0
    padding 0
    img
        width 100%

a
    text-decoration none

h1
    font-size 4em

h2
    font-size 2em

nav
    margin 0 !important
    ul
        padding 0
        margin 0
        margin-top 12px
        li
            display inline-block
            padding 0 15px
            margin 0
            a
                font-size 1em
                display block
                &.active
                    color #fff

.container
    -webkit-box-shadow: 0 0 6px 2px #A8A8A8;
    box-shadow: 0 0 6px 2px #A8A8A8;

// btns
.btn
    padding 5px 25px
    border-width 2px
    border-style solid
    text-decoration none
    margin 5px
    text-align center
    position relative
    z-index 9999
    border-radius 8px
    width 150px

.btn-white
    border-color #fff
    color #fff
    &:hover
        border-color light-blue
        background light-blue

.btn-round
    border-radius 41px
    border 1px solid blue
    width 46px
    text-align center
    padding 14px 10px 12px 10px
    font-size 30px
    font-weight 100
    color blue

/* Index styles =======================================
======================================================= */
body
    color light-gray
    font-family 'Roboto', sans-serif
    background #F5F5F5

// Header
header
    background gray
    padding-bottom 25px
    aside
        border-bottom 1px solid light-gray
        padding-top 15px
        margin-bottom 25px
        h6
            &:last-child
                text-align right
    a
        text-transform none
        color light-gray
        &:hover
            color #fff
    nav
        ul
            margin 1em 0
            padding 0 1em
    figure
        img
            @extend .center-block

header
footer
    figure
        img
            width 280px

//slider
.feat
    margin 0
    padding 0 !important
    line-height normal
    ul
        margin 0
    figure
        margin 0
        padding 0

.plat-sl
    background gray
    -webkit-box-shadow inset 0 12px 29px -10px s-gray
    box-shadow inset 0 12px 29px -10px s-gray
    padding 25px 0
    h1, h2
        margin 0
        padding 0
        line-height normal
        color #fff
    h1
        text-align center

    h2
        text-align center
        font-weight 300
        margin-top -20px

.brakets
    color light-blue
    font-size 3em
    vertical-align middle

.plat-cont
    overflow hidden
    max-height 400px
    .col-2
        width 49% !important
        margin-top -1px
    section
        background red
        -webkit-box-shadow inset 0 13px 61px -14px s-gray
        box-shadow inset 0 13px 61px -14px s-gray
        margin 0
        padding 0
        height 401px
        margin-left -25px
        h2, p
            text-align right
            color #fff
            margin 0
            padding 0

    figure
        margin 0
        padding 0
        img
            width 110%
    .btn
        margin-top 25px
        margin-right 30px

.blue-border
    border-right light-blue 6px solid
    width 55%
    float right
    margin-top 70px
    padding-right 20px
    margin-right 25px

.main-serv
    padding-top 55px
    -webkit-box-shadow inset 0px 18px 36px -19px s-gray
    box-shadow inset 0px 18px 36px -19px s-gray
    padding-bottom 55px
    h2
    p
        color: silver
        font-weight bold
        text-align center
        margin 15px 0

//Footer
footer
    background gray
    padding 45px 0
    -webkit-box-shadow inset 0px 18px 36px -19px s-gray
    box-shadow inset 0px 18px 36px -19px s-gray
    font-size 12px
    .col-2
        width 45% !important
    section
        &:first-child
            border-right 6px solid red
            padding-right 18px
            p
                font-size 1.5em
                text-align right
                clear both
                padding-top 10px
                font-weight 200
        &:last-child
            padding-left 0
            font-size 1.2em
            ul
                margin 0
                padding 0
                li
                    display inline-block
                    padding 0 8px
                    &:first-child
                        border-right 1px solid light-gray
                        padding-left 0
    a
        @extend header a
    nav
        margin-bottom 25px !important
        ul li
            padding 0 !important
            padding-right 6px !important
            border-right none !important
            a
                font-size 1.1em
    figure
        float right

/* Paginas Internas
================================== */
//servicios
.val-ag
    background red

.tns-dat
    background dark-blue
    border-bottom red 6px solid
    img
        border-right none !important
        padding-right 0 !important
        margin-right 0 !important
        border-left #fff solid 6px
        margin-left 25px
        padding-left 25px

.cn-gl
    background blue

.big-box-txt
    padding 10px 0
    -webkit-box-shadow inset 0px 18px 36px -19px s-gray
    box-shadow inset 0px 18px 36px -19px s-gray
    h2
        color #fff
        text-align center
        font-weight 200
        font-size 2.6em
        img
            border-right 6px solid #fff
            padding-right 15px
            margin-right 15px

.serv-blocks
    background #fff

.b-box
    background blue
    padding 20px
    height 225px
    margin-bottom 45px
    margin-top -25px
    position relative
    z-index 9999
    -webkit-box-shadow: 8px 8px 12px 1px #878787;
    box-shadow: 8px 8px 12px 1px #878787;
    color #fff
    font-weight 200
    font-size 1.3em
    width 90%
    h2
        margin 0
    &:last-child
        height 275px
    #block-1
        width 20%
        border-right red 6px solid
        padding-right 10px
        margin-right 20px
    #block-2
        width 76%

.tns-cont
    @extend .plat-cont
    .col-2
        background gray
        margin-top 0
        margin-left 0
        width 50% !important
    figure
        margin-left -3%
        img
            width 100%
    .blue-border
        padding-right 0
        margin-right 0
        border-right none
        float left
        border-left light-blue 6px solid
        margin-left 25px
        padding-left 20px
        margin-top 100px
        p
            text-align left
            font-size 1.3em
            font-weight 200

.cn-cont
    @extend .plat-cont
    section
        background gray
    .col-2
        margin-top 0
    img
        margin-top -115px

.adm-red
    p
        font-size 1.8em
        color silver
        font-weight 200
        text-align center
        width 75%
        @extend .center-block

// COBERTURA
#lightSlider
    background #fff
    margin 0
    padding 0

.img-cont
    padding 0
    -webkit-box-shadow inset 0px 18px 36px -19px s-gray
    box-shadow inset 0px 18px 36px -19px s-gray

.count-list
    -webkit-box-shadow inset 0px 18px 36px -19px s-gray
    box-shadow inset 0px 18px 36px -19px s-gray
    background blue
    width 100%
    min-width 100%
    padding-bottom 131px
    .cob-icon
        width 40%
        -webkit-box-shadow none
        box-shadow none
        @extend .center-block
        img
            float left
    #cont-slider
        margin 0
        padding 10px
        ul
            text-align center
            margin 0
            padding 0 12px
            li
                color #fff
                font-weight 200
                font-size 1.3em
                display inline-block
                text-align center
                padding 0
                margin 0
                margin-bottom -12px
                &:after
                    content: " •"
                    vertical-align sub
                    font-size 1.8em

//NOSOTROS
.nosotros
    p
        font-weight 200

.about
    background #F5F5F5
    padding 15px
    h1
        text-align center
        color gray
        margin 0
    p
        font-size 1.8em
        text-align center
        color gray

.dest-text
    background red
    h2
        font-weight 200
        color #fff

.mision
.vision
    -webkit-box-shadow inset 0px 18px 36px -19px s-gray
    box-shadow inset 0px 18px 36px -19px s-gray
    p
        font-size 1.3em

.vision
    background silver
    padding-bottom 55px
    padding-top 55px
    article
        text-align right
    .blue-border
        margin-top 0
        padding-right 35px
        width auto
        margin-right 0
        padding-left 15px
        color #fff
    span
        img
            margin-top 45px

.mision
    padding-top 55px
    span
        img
            margin-top 50px
    span
        &.col-2
            width 43% !important
    p
        color gray

.blue-border-left
    border-left light-blue 6px solid
    margin-left 30px
    padding-left 55px
    float left
    width auto
    margin-bottom 30px

.valores
    h2
        font-weight 300
        text-transform uppercase
    img
        border none !important
        width 125px

.val-img
    -webkit-box-shadow inset 0px 18px 36px -19px s-gray
    box-shadow inset 0px 18px 36px -19px s-gray
    background url(../img/valores_2.jpg) no-repeat scroll top center transparent
    background-size cover
    margin-top 0
    padding-top 55px
    padding-bottom 55px
    h2
    p
        margin 0
        font-weight 500
    article
        background rgba(255, 255, 255, 0.7)
        margin-bottom 15px
        margin-top 20px
        color #333
        height 150px
        padding 15px
        width 45% !important
        p
            font-size 1.3em
        img
            float left
            padding-right 15px

//SOPORTE
.soporte
    .sop-text
        p
            font-size 1.3em
            font-weight 300
            color silver
            text-align center
            padding 0 2em

.dest-img
    img
        width 100%

.cont-form
    padding-bottom 55px
    form
        [class*="pull-"]
            width 41% !important
        width 40%
        input[type="text"]
        input[type="email"]
        input[type="tel"]
        textarea
            width 93%
            border-width 0 0 2px 0
            border-color gray
            color silver
            background transparent
            display block
            padding 15px
            text-align left
        textarea
            border-width 2px
        ::-webkit-input-placeholder
            color gray
            font-weight 300
        :-moz-placeholder
            color gray
            opacity 1
            font-weight 300
        ::-moz-placeholder
            color gray
            opacity 1
            font-weight 300
        :-ms-input-placeholder
            color gray
            font-weight 300

.btn-cont
    color gray
    width 100px
    padding 6px 55px
    &:hover
        color red

.btn-form
    color #4c4c4b
    text-align: center;
    width: 115px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #4c4c4b
    outline 0
    transition all .2s ease-in

    &:hover
        border-color red
        color red

#form-status
    text-align center

